@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --gold1:#F4BD76;
    --gold2:#F6CD8f;
    --gray:#ffffff80;
    --gray2:#f7d9d990;
    --black1:#1A1B1F;
    --black2:#30553B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;
}

.container{
    display: table;
}

.row{
    display: table-cell;
}

.column1{
    display: table-cell;
    color: var(--black1);
    width: 100%;
    font-weight: bold;
}